@model IEnumerable<HomeWork2019._12._14.Models.Post>
@{
    ViewBag.Title = "Index";
}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="~/Content/UserIndex.scss" rel="stylesheet" />

<a class="btn btn-primary" href="/Post/Create/@ViewBag.Id" role="button">Create new post</a>
@foreach (var post in Model)
{
    <div style="width: 200px">
        <div class="text-center">
            <img src="@post.ImagePath" class="rounded" alt="Nothing">
        </div>
        <p>@post.Content</p>
        <div class="container">
            <h1>CSS Like Button</h1>
            <h4>
                Show some
                <i class="material-icons love">favorite</i>
                by clicking the button
            </h4>
            <div class="wrapper">
                <a href="javascript:void(0);" class="like-button">
                    <i class="material-icons not-liked bouncy">favorite_border</i>
                    <i class="material-icons is-liked bouncy">favorite</i>
                    <span class="like-overlay"></span>
                </a>
            </div>
        </div>
    </div>
}