
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a class="btn btn-primary" href="/User/SignUp" role="button">Sign Up</a>
<br />
<a class="btn btn-primary" href="/User/SignIn" role="button">Sign In</a>